/*CSS Reset*/
* {
  margin: 0px;
  padding: 0px;
}

html{
  scroll-behavior: smooth;
}
/*CSS Variables*/
:root {
  --navbar-height: 59px;
}
/*navigation bar*/
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;

}

/*Navigation-bar: logo and image*/
#logo {
  margin: 10px 34px;
}
#logo img {
  height: 89px;
  margin: 3px 6px;
}
/*Navigation-bar: list styling*/


#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 100%;
  height: 42%;
  z-index: -1;
  opacity: 0.4;
}
#navbar ul {
  display: flex;
  font-family: "Bree Serif", serif;
}

#navbar ul li {
  /*color:white;*/
  list-style: none;
  font-size: 1.3rem;
}
#navbar ul li a {
  color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;
}
/*Home section*/
#Home {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
}
#Home::before {
  content: "";
  background: url(../image.png) no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 613px;
  z-index: -1;
  opacity: 0.89;
}
#Home h1 {
  color: white;
  text-align: center;
  font-family: "Roboto Flex", sans-serif;
}

#Home p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Roboto Flex", sans-serif;
}
/*Services section*/
#Services {
  margin: 34px;
  display: flex;
}
#Services .box {
  border: 2px solid brown;
  padding: 34px;
  margin: 3px 6px;
  border-radius: 28px;
  background: #f2f2f2;
}
    
#Services .box img {
  height: 160px;
  margin: auto;
  display: block;
}
#Services .box p {
   font-family: "Bree Serif", serif;
}


/*Clients Section*/
#client-section{
  position: relative;
  /* height: 10px; */
  padding-bottom: 30px;
  
}
  #client-section::before{
    content: "";
    background: url(bg.10.jpg)  no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -1;
    opacity: 0.4;
  
    
  }
#client{
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-item{
  padding: 34px;
}
#client img{
  height: 124px;
  
}
/*Contact Section*/
/*#contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/
.h-primary-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bree Serif", serif;
  font-size: 60px;
}

#contact{
  position: relative;
  
}
#contact::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background: url(contact\ jpg.png) no-repeat center center/cover;

}
#contact-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;

}
#contact-box input,
#contact-box textarea{
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
}
#contact-box form{
  width: 40%;
}
#contact-box label{
  font-size: 1.3rem;
  font-family: "Bree Serif", serif;

}
footer{
  background-color: black;
  padding: 9px 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*utility classes*/
.h-primary {
   font-family: "Bree Serif", serif;
  font-size: 3.8rem;
  padding: 4px;
}

.h-secondary {
   font-family: "Bree Serif", serif;
  font-size: 2.3rem;
  padding: 12px;
}
.btn {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: brown;
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}
.center {
  text-align: center;
}
